html, body {
  background-color: #0F181E;
  font-family: sans-serif;
  margin: 0;
}

.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100vw;
  min-width: 100vw;
  z-index: 100;
}

.navbar {
  position: sticky;
  top: 0;
  min-width: calc(100vw - 5rem);
  position: absolute;
  display: flex;
  justify-content: space-between;
  margin: 2rem 2rem;
  z-index: 1000;
}

.scrolled{
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
}

.links ul {
  display: flex;
  right: 0;
}

.links ul li {
  list-style: none;
  margin-left: 5rem;
}
.links ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 800;
}

.ReactModal__Overlay--after-open {
  z-index: 1000;
}

.modal-popup {
  background: black;
  z-index: 200;
  color: white;
}

.hero {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 2rem 4rem;
  z-index: 100;
}

.hero h1 {
  color: white;
  font-size: 3rem;
  width: 800px;
  z-index: 100;
  font-weight: 300;
  font-style: italic;
  margin-bottom: 3rem;
}

.hero-bg {
  position: absolute;
  right: 0;
  z-index: -1;
}

.hero button {
  background-color: #591CAE;
  border: none;
  border-radius: 10px;
  width: 200px;
  color: white;
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero button:hover {
  background-color: #391170;
}

.curved-bg {
  position: absolute;
  z-index: 1;
  max-width: 100vw;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 2rem;
}

.section-image {
  width: 49%;
  z-index: 100;
}

.section-image img {
  width: 500px;
  z-index: 100;
}

.section-content {
  width: 25%;
  color: white;
  margin-left: 8rem;
}

.section-content h2 {
  font-size: 1.5rem;
  font-weight: normal;
}

.section-content p {
  font-size: 0.9rem;
}

.creators {
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 100;
}

.creators .info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: white;
  z-index: 100;
}

.creators .info h1 {
  font-size: 3rem;
  z-index: 100;
  font-weight: 300;
}

.creators .info p {
  width: 600px;
}

.creators .info h3 {
  margin-top: 5rem;
  margin-bottom: 5rem;
  font-weight: 300;
}

.creators img {
  width: 1000px;
}

.callout {
  background-color: #ffffff24;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: column;
  padding: 2rem 0;
  margin-left: 0;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.callout p {
  font-size: 1.5rem;
}

.callout button {
  background-color: #591CAE;
  border: none;
  border-radius: 10px;
  width: 8rem;
  color: white;
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.callout button:hover {
  background-color: #391170;
}

.nfts {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.nfts .info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nfts .info p {
  width: 700px;
  text-align: center;
}

.nfts .info h1 {
  font-size: 3rem;
  z-index: 100;
  font-weight: 300;
}

.nfts .info h3 {
  font-weight: 300;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.nfts img {
  justify-self: center;
  width: 1000px;
}

.gallery {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  width: 1000px;
}

.gallery img {
  width: 240px;
  margin-right: 20px;
}

.external {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 5rem;
}

.external p {
  text-align: center;
}

.external-adult {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.external-wrapper {
  display: flex;
  width: 400px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.external-adult img {
  margin-top: 2rem;
  width: 100px;
}

.external-buttons {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.external-buttons button {
  margin-bottom: 3rem;
  background-color: #591CAE;
  border: none;
  border-radius: 10px;
  width: 10rem;
  color: white;
  padding: 0.5rem 0.5rem;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
}

.external-buttons button:hover {
  background-color: #591CAE50;
}

.footer {
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.footer a {
  margin-left: 1rem;
  margin-right: 1rem;
}

.blob-bg-1 {
  position: absolute;
  left: 0;
  z-index: 1;
  transform: translateY(-250px);
  width: 400px;
}

.blob-bg-2 {
  position: absolute;
  right: 0;
  z-index: 1;
  transform: translateY(-200px);
  width: 800px;
  height: 1200px;
}

.blob-bg-3 {
  position: absolute;
  left: 0;
  z-index: 1;
  transform: translateY(800px);
  overflow: hidden;
  width: 500px;
}