html {
  background-color: #0F181E;
  font-family: sans-serif;
}

.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar {
  top: 0;
  min-width: calc(100vw - 5rem);
  position: absolute;
  display: flex;
  justify-content: space-between;
  margin: 2rem 2rem;
}

.links ul {
  display: flex;
  right: 0;
}

.links ul li {
  list-style: none;
  margin-left: 4rem;
}
.links ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  
}


.hero {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 2rem 4rem;
}

.hero h1 {
  color: white;
  font-size: 3rem;
  width: 700px;
}

.hero-bg {
  position: absolute;
  z-index: -1;
  right: 0;
}

.hero button {
  background-color: #591CAE;
  border: none;
  border-radius: 10px;
  width: 250px;
  color: white;
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.hero button:hover {
  background-color: #391170;
}

.curved-bg {
  position: absolute;
  z-index: -1;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 2rem;
}

.section-image {
  width: 50%;
}

.section-image img {
  width: 100%;
}

.section-content {
  width: 50%;
}